.session-main{
    margin: 67px 0 117px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seats{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}
.seats:nth-child(3){
    width: 67%;
}

.seats .seat{
    position: relative;
    width: 0;
    height: 0;
    padding: 3.1%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 5px;
} 
.legend .seat{
    padding: 25%;
}
.legend div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.available{
    background-color: #C3CFD9;
    border: 1px solid #7B8B99;
}
.unavailable{
    background-color: #FBE192;
    border: 1px solid #F7C52B;
}
.selected{
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E;
}
.type-info{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.type-info input{
    height: 51px;
}
.type-info span{
    color: #293845;
    font-size: 18px;
}
.button{
    width: 225px;
    height: 42px;
    background-color: #E8833A;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 18px;
    margin: 57px 0 30px 0;
}


